<div class="ten_offset">
  <h4> Items </h4>
  <table class="table">
    <thead>
      <tr>
        <th>Cost</th>
        <th>Item Info</th>
        <th>People Paying</th>
      </tr>
    </thead>
  <% @order_items.each do |item| %>
    <tr>
      <td>$ <%= item.cost %></td>
      <td><%= item.description %></td>
      <td><%= item.splitters %></td>
    </tr>
  <% end %>
  </table>
</div>