/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import 'kickstart_rails';

/* Basic Components */

.navbar {
  @include navbar();
}

.form {
  @include form();
}

.group {
  @include form_group('horizontal');
}

.container {
  @include container();
}

.alert {
  @include alert();
}

.table {
  @include table($bordered: true, $zebra: true);
}

.zebra_table {
  @include table($zebra: true);
}

/* Layout */

.row {
  @include row();
}

.two_col {
  @include column(2);
}

.five_col {
  @include column(5);
}

.five_offset {
  @include column(5, 1);
}

.five_large_offset {
  @include column(5, 6);
}

.three_med_offset {
  @include column(3, 4);
}

.ten_offset {
  @include column(10, 1);
}

.button_offset {
  @include column(2, 10.5)
}

.button_med_offset {
  @include column(1, 4)
}

/* Buttons */

.green_button {
  @include button(map-get($colors, green));
}

.blue_button {
  @include button(map-get($colors, blue));
}

.red_button {
  @include button(map-get($colors, red));
}

/* Tag Overrides */

h4 {
  margin-top: 0;
}

a {
  color: #0060B6;
    text-decoration: none;
}

